extends layout

block content
  h1= title
  p This site is designed to help businesses or individuals:
  ul
    li Create new appointments
    li Schedule appointments by location
    li Furnish map, directions, and images for each appointment
  p 
    a(href='/users/sign_up') Sign Up  
  p 
    a(href='/users/sign_in') Sign In

