doctype html
html
  head
    title Drawing tools
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    style.
      html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      }

  body
    h1 SKedule Navigator - Create schedule zones
    #map
    
    script.
      var randColor = function(){
        var color = Math.random();
        if(color < .5){
          return '#C80000'
        }
        else{
          return '#3300FF'
        }
      }
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 39.7392358, lng: -104.990251},
          zoom: 10
        });
        var drawingManager = new google.maps.drawing.DrawingManager({
          drawingMode: google.maps.drawing.OverlayType.MARKER,
          drawingControl: true,
          drawingControlOptions: {
            position: google.maps.ControlPosition.TOP_CENTER,
            drawingModes: [
              google.maps.drawing.OverlayType.POLYGON,
              google.maps.drawing.OverlayType.CIRCLE,
            ]
          },
          markerOptions: {icon: 'images/beachflag.png'},
          polygonOptions: {
            fillColor: randColor(),
            fillOpacity: .25,
            strokeWeight: 1,
            clickable: false,
            editable: true,
            draggable: true
       
           },
          circleOptions: {
            fillColor: '#ffff00',
            fillOpacity: .25,
            strokeWeight: 1,
            clickable: false,
            editable: true,
            zIndex: 1,
            draggable: true
          }
        });
        drawingManager.setMap(map);
      }
    script(src='https://maps.googleapis.com/maps/api/js?key=' + process.env.YOUR_API_KEY + '&signed_in=true&libraries=drawing&callback=initMap', async='', defer='')
