doctype html
html
  head
    title Drawing tools
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    style.
      html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      }

  body
    h1 SKedule Navigator - Create schedule zones
    button(id='startNewZone') Start a new zone
    #map
    #info

    script.
        function initMap() {
          var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 39.7392358, lng: -104.990251},
            zoom: 10
          });
          
          var zoneCoords = [
            new google.maps.LatLng(39.8, -105),
            new google.maps.LatLng(39.8, -104.8),
            new google.maps.LatLng(39.7, -104.8),  
            new google.maps.LatLng(39.7, -105)
          ];
          zonePolygon = new google.maps.Polygon({
            paths: zoneCoords,
            draggable: true,
            editable: true,
            strokeColor: '#FF0000',
            strokeOpacity: 0.45,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.25
          });

          var startNewZone = document.querySelector('#startNewZone')
          startNewZone.addEventListener('click', function(){
            zonePolygon.setMap(map);
            google.maps.event.addListener(zonePolygon, "dragend", getPolygonCoords);
            google.maps.event.addListener(zonePolygon.getPath(), "insert_at", getPolygonCoords);
            google.maps.event.addListener(zonePolygon.getPath(), "remove_at", getPolygonCoords);
            google.maps.event.addListener(zonePolygon.getPath(), "set_at", getPolygonCoords);
          })
        }
        function getPolygonCoords() {
          var len = zonePolygon.getPath().getLength();
          var htmlStr = "";
          for (var i = 0; i < len; i++) {
            htmlStr += zonePolygon.getPath().getAt(i).toUrlValue(5) + "<br>";
          }
          document.getElementById('info').innerHTML = htmlStr;
        }

    script(src='https://maps.googleapis.com/maps/api/js?key=' + process.env.YOUR_API_KEY + '&signed_in=true&libraries=drawing&callback=initMap', async='', defer='')
